[submodule "bundle-development.tmbundle"]
	path = bundle-development.tmbundle
	url = https://github.com/textmate/bundle-development.tmbundle.git
[submodule "c.tmbundle"]
	path = c.tmbundle
	url = https://github.com/textmate/c.tmbundle.git
[submodule "javascript.tmbundle"]
	path = javascript.tmbundle
	url = https://github.com/textmate/javascript.tmbundle.git
[submodule "objective-c.tmbundle"]
	path = objective-c.tmbundle
	url = https://github.com/textmate/objective-c.tmbundle.git
[submodule "perl.tmbundle"]
	path = perl.tmbundle
	url = https://github.com/textmate/perl.tmbundle.git
[submodule "php.tmbundle"]
	path = php.tmbundle
	url = https://github.com/textmate/php.tmbundle.git
[submodule "python.tmbundle"]
	path = python.tmbundle
	url = https://github.com/textmate/python.tmbundle.git
[submodule "ruby-on-rails.tmbundle"]
	path = ruby-on-rails.tmbundle
	url = https://github.com/drnic/ruby-on-rails-tmbundle
[submodule "ruby.tmbundle"]
	path = ruby.tmbundle
	url = https://github.com/textmate/ruby.tmbundle.git
[submodule "textmate.tmbundle"]
	path = textmate.tmbundle
	url = https://github.com/textmate/textmate.tmbundle.git
[submodule "source.tmbundle"]
	path = source.tmbundle
	url = https://github.com/textmate/source.tmbundle.git
[submodule "text.tmbundle"]
	path = text.tmbundle
	url = https://github.com/textmate/text.tmbundle.git
[submodule "javascript-tools.tmbundle"]
	path = javascript-tools.tmbundle
	url = https://github.com/subtleGradient/javascript-tools.tmbundle.git
[submodule "Cucumber.tmbundle"]
	path = Cucumber.tmbundle
	url = https://github.com/aslakhellesoy/cucumber-tmbundle.git
[submodule "RSpec.tmbundle"]
	path = RSpec.tmbundle
	url = https://github.com/rspec/rspec-tmbundle.git
[submodule "Git.tmbundle"]
	path = Git.tmbundle
	url = https://github.com/jcf/git-tmbundle.git
[submodule "JavaScript-Appcelerator-Titanium-Mobile.tmbundle"]
	path = JavaScript-Appcelerator-Titanium-Mobile.tmbundle
	url = https://github.com/subtleGradient/JavaScript-Appcelerator-Titanium-Mobile.tmbundle.git
[submodule "ruby-on-rails-tmbundle"]
	path = ruby-on-rails-tmbundle
	url = https://github.com/drnic/ruby-on-rails-tmbundle
[submodule "ruby-slim-tmbundle"]
	path = ruby-slim-tmbundle
	url = https://github.com/fredwu/ruby-slim-tmbundle
[submodule "ruby_on_rails.tmbundle"]
	path = ruby_on_rails.tmbundle
	url = https://github.com/drnic/ruby-on-rails-tmbundle
[submodule "ruby-slim.tmbundle"]
	path = ruby-slim.tmbundle
	url = https://github.com/fredwu/ruby-slim-tmbundle
[submodule "jquery.tmbundle"]
	path = jquery.tmbundle
	url = https://github.com/kswedberg/jquery-tmbundle.git
[submodule "textmate-missingdrawer.tmbundle"]
	path = textmate-missingdrawer.tmbundle
	url = https://github.com/jezdez/textmate-missingdrawer.git
[submodule "MissingDrawer.tmplugin"]
	path = MissingDrawer.tmplugin
	url = https://github.com/jezdez/textmate-missingdrawer.git
[submodule "SCSS.tmbundle"]
	path = SCSS.tmbundle
	url = https://github.com/kuroir/SCSS.tmbundle.git
[submodule "SCSS + Zen.tmbundle"]
	path = SCSS + Zen.tmbundle
	url = https://github.com/kuroir/SCSS.tmbundle.git
